/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

body{
    margin: 0px!important;
    font-family: 'Nunito', sans-serif;
}
p{
    margin-top: revert;
    margin-bottom: revert;
}
strong{
    font-weight: 700;
}
label{
    font-weight: 700;
}
/* BUTTON LIKE*/
.ilike{color:#cc1820!important;}

.like:hover , .ilike:hover{
    color: #cc1820;
    background-color: rgb(224, 36, 94,0.1);
}

/* BUTTON RETWEET*/

.retweet:hover {
    color: rgb(23, 191, 99);
    background-color: rgb(23, 191, 99,0.1);
}

/* BUTTON MENU*/
.menu-tweet:hover, .back:hover{
    background-color: rgb(29, 161, 242,0.1);
    color: #0dcaf0;
}
/* LINK TO TIME*/

.time a{
    text-decoration: none;
}
.time a:hover{
   color: black;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px; }
  
  a {
    color: #000; }
  
  a:visited {
    color: #666; }
  
  /* a:hover {
    color: #fff;
    background-color: #000; } */
  
  th {
    padding-bottom: 5px; }
  
  td {
    padding: 0 5px 7px; }
  
  div.field,
  div.actions {
    margin-bottom: 10px; }
  
  #notice {
    color: green; }
  
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table; }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0; }
  
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff; }
  
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
  
  label {
    display: block; }

    .hashtag{
  font-weight: 600;
    font-style: italic;
    text-decoration: none;
}  